* { margin: 0; padding: 0; -webkit-user-select: none; }
html, body { width: 100%; height: 100%; position: relative; overflow: hidden;z }

body {
	position: relative;
	background: url(../img/bg.jpg) no-repeat;
}

#blankScreen {
	position: absolute;
	top: 80px;
	left: 80px;
	-webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, .8);
	border: 3px solid #555;
	background: gray;
	opacity: 0.7;
}


#cores {
	height: 52px;
	position: absolute;

	width: 100%;
	top: 620px;
	left: 87px;
	z-index: 1000;
}

#cores button {
	width: 30px;
	height: 52px;
	border: 0;
	background-image: url(../img/lapis-bg.png);

	-webkit-mask-image: url(../img/mask-lapis.png);
	-webkit-mask-position: 0 0;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-origin: 100% 0;
	margin-right: 4px;

	position: relative;
	bottom: -10px;

	-webkit-transition-property: bottom;
	-webkit-transition-duration: 350ms;	
	-webkit-transition-timing-function: cubic-bezier(0.730, -0.525, 0.450, 1.575);

	text-indent: -1000px;
}

#cores button.ativo {
	bottom: -1px;
}

#alert {
	width: 700px;
	height: 110px;
	position: absolute;
	margin: 285px 0 0 175px;
	text-align: center;
	font-family: Courier, Arial;
	color: #FFF;
	font-size: 30px;
	display: none;
}